body {
    background-color: #FFFFFF;    
}
svg{
    background-color: #FFFFFF;
}

.country{
    transition: .3s;
}

#select-data{
    margin: 10px;
    position: absolute;
    font-size: .6em;
    width: 150px;
}
#select-continent{
    margin: 10px;
    font-size: .6em;
    width: 150px;
}

.tooltip{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 7px;
    font-size: 0.8em;
    pointer-events: none;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    3px 3px 10px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
}
.tooltip h3{
    font-size: .8em;
    margin-bottom: 2px;
    padding: 0;
}
.tooltip p{
    font-size: .7em;
    margin-bottom: 2px;
    padding: 0;
}

.col_active{
    transition: .3s;
    stroke: "#333";
    stroke-width: 1.5;
}
.plot-cols{
    display: flex;
    flex-direction: column;
}
.control-group{
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.minmax-group{
    display: flex;
    flex-direction: row;
}
